---
import Layout from "@/layout/Layout.astro"
import AdminLogin from "@/components/AdminLogin/AdminLogin.astro"

const title = "管理者ログイン"
---
<Layout title={title} headings={[]} >
  <h1>管理者ログイン</h1>
  <p>このエリアは管理者専用です。ログインしてください。</p>
  
  <AdminLogin />
</Layout>
